<!DOCTYPE html>
<html>
    <head>
        <title>
            Rock Paper Scissors
        </title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <header>
            <h1>Quartz - Parchment - Shears</h1>
        </header>

        <main>
            <div id="move-menu">
                <div><button class="move-option" id="quartz"></button></div>
                <div><button class="move-option" id="parchment"></button></div>
                <div><button class="move-option" id="shears"></button></div>
            </div>
        </main>

        <script src="../static/js/rock-paper-scissors.js"></script>
    </body>
</html>